
:root {
	--folke-blue: #174184;
	--folke-green: #0e9638;
	--folke-yellow: #fccc66;
	--folke-white: #fefefe;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0px;
}

form {
	align-self: center;
	margin: 0em 0em 1.5em 0em;
}

button {
	color: var(--folke-white);
	background-color: var(--folke-blue);
	border: 1px solid black;
	border-radius: 0.2em;
	padding: 0.2rem 1rem;
	min-width: 10em;
}

button:hover {
	color: var(--folke-yellow);
}

button:active {
	color: var(--folke-blue);
	background-color: var(--folke-yellow);
	font-weight: bold;
}

.menu {
	display: flex;
	background-color: var(--folke-blue);
	justify-content: right;
}

.menu > div {
	color: var(--folke-white);
	padding: 0.6em;
}

.menu > .user {
	font-weight: bold;
}

.content {
	background-color: var(--folke-white);
	display: grid;
	justify-content: center;
	padding: 1em;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.row > * {
	padding: 0.2rem 0.3rem;
	text-align: left;
	box-sizing: border-box;
	width: 100%;
}

.item {
	border: 1px solid var(--folke-blue);
	border-radius: 0.2rem;
	margin: 0.2rem 0rem;
}

.header > * {
	background-color: var(--folke-blue);
	color: white;
}

.numeric {
	text-align: right;
}

.number {
	flex-grow: 1;
	flex-basis: 4ch;
	width: 5%;
}

.type {
	flex-grow: 6;
	flex-basis: 16ch;
	width: 30%;
}

.category {
	flex-grow: 2;
	width: 10%;
}

.annotation {
	flex-grow: 8;
	width: 40%;
}

.damages {
	flex-grow: 3;
	width: 15%;
}

.filter-label {
	width: 30%;
}

.filter-value {
	width: 70%;
}

.filter {
	background-color: var(--folke-yellow);
}

.buttons {
	display: flex;
	width: 100%;
	padding: 0.4em;
	justify-content: center;
	align-items: center;
}

.login-form {
	display: flex;
	justify-content: center;
	background-color: var(--folke-yellow);
	border: 2px solid var(--folke-blue);
	width: fit-content;
	border-radius: 0.3em;	
}

.label {
	color: var(--folke-blue);
	font-weight: bold;
	margin: 0.2em 1em 0em 1em;
}

.login-form .buttons {
	padding: 1em;
}
