
:root {
	--folke-blue: #174184;
	--folke-green: #0e9638;
	--folke-yellow: #fccc66;
	--folke-white: #fefefe;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0px;
	min-width: 320px;
}

form {
	align-self: center;
	margin: 0em 0em 1.5em 0em;
}

button {
	color: var(--folke-white);
	background-color: var(--folke-blue);
	border: 1px solid black;
	border-radius: 0.2em;
	padding: 0.2rem 1rem;
	min-width: 10em;
}

button:hover {
	color: var(--folke-yellow);
}

button:active {
	color: var(--folke-blue);
	background-color: var(--folke-yellow);
	font-weight: bold;
}

.menu {
	display: flex;
	background-color: var(--folke-blue);
	justify-content: right;
}

.menu > div {
	color: var(--folke-white);
	padding: 0.6em;
}

.menu > .user {
	font-weight: bold;
}

.content {
	background-color: var(--folke-white);
	display: grid;
	justify-content: stretch;
	padding: 1em;
}

table {
	border-collapse: collapse;
}

/* Zebra striping */
tr:nth-of-type(odd) {
	background: #eee;
}

th {
	background: #333;
	color: white;
	font-weight: bold;
}

td,
th {
	padding: 6px;
	border: 1px solid #ccc;
	text-align: left;
	vertical-align: top;
}

.header {
	background-color: var(--folke-blue);
	color: white;
}

.filter-label {
	width: 30%;
}

.filter-value {
	width: 70%;
}

.filter {
	background-color: var(--folke-yellow);
}

.buttons {
	display: flex;
	width: 100%;
	padding: 0.4em;
	justify-content: center;
	align-items: center;
}

.login-form {
	display: flex;
	justify-content: center;
	justify-self: center;
	background-color: var(--folke-yellow);
	border: 2px solid var(--folke-blue);
	width: fit-content;
	border-radius: 0.3em;	
}

.label {
	color: var(--folke-blue);
	font-weight: bold;
	margin: 0.2em 1em 0em 1em;
}

.login-form .buttons {
	padding: 1em;
}
