
/* table.tarps-list tr {
	display: grid;
	grid-template-columns: 1fr 4fr 2fr 8fr 3fr;
} */

/* Zebra striping */
table.tarps-list tr:nth-of-type(odd) {
	background: #eee;
}

table.tarps-list td,
table.tarps-list th {
	border: 1px solid #ccc;
}
