{% extends "layout.html.jinja" %}
{% block content %}
	<form action="{{ ROUTING.CHANGE_PASSWORD_ENDPOINT }}" method="post" class="login-form">
		<div class="table">
			<div class="row header">
				<span>Passwort-Änderung</span>
			</div>
			<div class="row">
				<div class="label">Neues Passwort</div>
			</div>
			<div class="row">
				<div class="label">
					<input name="{{ USERAPI_PROPS.NEW_PASSWORD }}" id="{{ USERAPI_PROPS.NEW_PASSWORD }}" type="password"/>
				</div>
			</div>
			<div class="row">
				<div class="label">Wiederholung</div>
			</div>
			<div class="row">
				<div class="label">
					<input name="{{ USERAPI_PROPS.REP_PASSWORD }}" id="{{ USERAPI_PROPS.REP_PASSWORD }}" type="password"/>
				</div>
			</div>
			<div class="row">
				<div class="buttons">
					<button type="submit">Passwort ändern</button>
				</div>
			</div>
		</div>
	</form>
{% endblock %}