{% extends "layout.html.jinja" %}
{% block content %}
	<form action="{{ ROUTING.LOGIN_ENDPOINT }}" method="post" class="login-form">
		<div class="table">
			<div class="row header">
				<span>Anmeldung</span>
			</div>
			<div class="row">
				<div class="label">Benutzer</div>
			</div>
			<div class="row">
				<div class="label">
					<input name="{{ USER_PROPS.USER_NAME }}" id="{{ USER_PROPS.USER_NAME }}"/>
				</div>
			</div>
			<div class="row">
				<div class="label">Passwort</div>
			</div>
			<div class="row">
				<div class="label">
					<input name="{{ USER_PROPS.USER_PASSWORD }}" id="{{ USER_PROPS.USER_PASSWORD }}" type="password"/>
				</div>
			</div>
			<div class="row">
				<div class="buttons">
					<button type="submit">Anmelden</button>
				</div>
			</div>
		</div>
	</form>
{% endblock %}