{% extends "layout.html.jinja" %}

{% block content %}
	<div class="table">
		<form action="{{ ROUTING.ROOT_ENDPOINT }}" method="post">
			<div class="table">
				<div class="row header">
					<div class="filter-label">Filter</div>
					<div class="filter-value">Wert</div>
				</div>
				{% for s in selection.selectors %}
				<div class="row filter">
					<div class="filter-label">
						<select id="select_by_{{ loop.index0 }}" name="select_by_{{ loop.index0 }}">
							<option value="None">- alle -</option>
							<option value="{{ TARPS_PROPS.TARP_NUMBER }}">Nummer</option>
							<option value="{{ TARPS_PROPS.CAT_NAME }}">Kategorie</option>
							<option value="{{ TARPS_PROPS.TYPE_NAME }}">Planen-Typ</option>
							<option value="{{ TARPS_PROPS.DMG_CODE }}">Schaden</option>
						</select>
					</div>
					<div class="filter-value">
						<input id="select_value_{{ loop.index0 }}" name="select_value_{{ loop.index0 }}" />
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="table">
				<div class="row header">
					<div class="filter-label">Sortierung</div>
					<div class="filter-value">Absteigend</div>
				</div>
				{% for o in selection.sequence %}
				<div class="row filter">
					<div class="filter-label">
						<select id="order_by_{{ loop.index0 }}" name="order_by_{{ loop.index0 }}">
							<option value="None">-- unsortiert --</option>
							<option value="{{ TARPS_PROPS.TARP_NUMBER }}">Nummer</option>
							<option value="{{ TARPS_PROPS.CAT_NAME }}">Kategorie</option>
							<option value="{{ TARPS_PROPS.TYPE_NAME }}">Planen-Typ</option>
							<option value="{{ TARPS_PROPS.DMG_CODE }}">Schaden</option>
						</select>
					</div>
					<div class="filter-value">
						<input type="checkbox" id="order_dir_{{ loop.index0 }}" name="order_dir_{{ loop.index0 }}" />
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="table">
				<div class="row filter">
					<div class="buttons">
						<button type="submit">Aktualisieren</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="table">
		<div class="row header">
			<div class="numeric number">Nr.</div>
			<div class="type">Typ</div>
			<div class="category">Kat.</div>
			<div class="annotation">Anmerkung</div>
			<div class="damages">Schaden</div>
		</div>
		{% for tarp in tarp_list %}
		<div class="row item">
			<div class="numeric number">{{ tarp.number }}</div>
			<div class="type">{{ tarp.category.tarp_type.name }}</div>
			<div class="category">{{ tarp.category.name }}</div>
			<div class="annotation">{{ tarp.annotation }}</div>
			<div class="damages">
				{% for dmg in tarp.damages %}
				{{ dmg.code }}
				{% endfor %}
			</div>
		</div>
		{% endfor %}
	</div>
{% endblock %}

{% block script %}
	function select_value(id, value) {
		var combo = document.getElementById(id);

		if (combo) {
			for (idx in combo.options) {
				opt = combo.options[idx];
				if (opt.value === value) {
					opt.selected = true;
					break;
				}
			}
		}
	}

	function check_value(id, value) {
		var checkbox = document.getElementById(id);

		if (checkbox) {
			checkbox.checked = value == 'True';
		}
	}

	function set_value(id, value) {
		var textbox = document.getElementById(id);

		if (textbox) {
			textbox.value = value;
		}
	}

	{% for s in selection.selectors %}
	select_value("select_by_{{ loop.index0 }}", "{{ s.property }}");
	{% if s.values %}
	set_value("select_value_{{ loop.index0 }}", "{{ s.values | join(' ') }}");
	{% endif %}
	{% endfor %}
	{% for o in selection.sequence %}
	select_value("order_by_{{ loop.index0 }}", "{{ o.property }}");
	check_value("order_dir_{{ loop.index0 }}", "{{ o.is_descending }}");
	{% endfor %}

{% endblock %}
