<!DOCTYPE html>
<html lang="de">

<head>
	<title>Planen</title>
	<link rel="stylesheet" href="static/css/main.css" />
</head>

<body>
	<form action="/" method="post">
		<table>
			<thead>
				<tr>
					<th>Auswahl nach</th>
					<th>Wert</th>
					<th>Sortiert nach</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<select id="select_by" name="select_by">
							<option value="none">- alle -</option>
							<option value="{{ PROPS.TARP_NUMBER }}">Nummer</option>
							<option value="{{ PROPS.CAT_NAME }}">Kategorie</option>
							<option value="{{ PROPS.TYPE_NAME }}">Planen-Typ</option>
							<option value="{{ PROPS.DMG_CODE }}">Schaden</option>
						</select>
					</td>
					<td>
						<input name="select_value" value="{{ select_value }}"/>
					</td>
					<td>
						<select id="order_by" name="order_by">
							<option value="{{ PROPS.TARP_NUMBER }}">Nummer</option>
							<option value="{{ PROPS.CAT_NAME }}">Kategorie</option>
							<option value="{{ PROPS.TYPE_NAME }}">Planen-Typ</option>
							<option value="{{ PROPS.DMG_CODE }}">Schaden</option>
						</select>
					</td>
					<td>
						<button type="submit">Los</button>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
	<table>
		<thead>
			<tr>
				<th class="numeric">Nr.</th>
				<th>Anmerkung</th>
				<th>Schaden</th>
				<th>Kategorie</th>
				<th>Typ</th>
			</tr>
		</thead>
		<tbody>
			{% for tarp in tarp_list %}
			<tr>
				<td class="numeric">{{ tarp.number }}</td>
				<td>{{ tarp.annotation }}</td>
				<td>
					{% for dmg in tarp.damages %}
						{{ dmg.code }}
					{% endfor %}
				</td>
				<td>{{ tarp.category.name }}</td>
				<td>{{ tarp.category.tarp_type.name }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
<script lang="JavaScript">
	function select_value(id, value) {
		var combo = document.getElementById(id);

		if (combo) {
			for (idx in combo.options) {
				opt = combo.options[idx]
				if(opt.value === value) {
					opt.selected = true;
					break;
				}
			}
		}
	}

	select_value('select_by', '{{ select_by }}');
	select_value('order_by', '{{ order_by }}');
</script>
</html>